<div *ngIf="productDetails" class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img [src]="productDetails.img_link" [alt]="productDetails.product_name" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h2 class="display-4" id="product_name">{{ productDetails.product_name }}</h2>
            <p class="text-muted" id="category">{{ productDetails.category }}</p>

            <h4>
                <span class="text-danger discounted-price" id="discounted_price">₹{{ productDetails.discounted_price }}</span>
                <small class="text-muted actual-price"><s id="actual_price">₹{{ productDetails.actual_price }}</s></small>
            </h4>

            <p class="discount-percentage" id="discount_percentage">{{ (productDetails.discount_percentage*100).toFixed(0) }}% off</p>

            <p *ngIf="productDetails && productDetails.rating >= 0 && productDetails.rating <= 5">
                <span id="rating">
                    <!-- Display full stars -->
                    <i class="fa fa-star golden-star" *ngFor="let _ of [].constructor(productDetails.rating)"></i>

                    <!-- Display empty stars -->
                    <i class="fa fa-star-o golden-star" *ngFor="let _ of [].constructor(5 - productDetails.rating)"></i>
                </span>
                {{ productDetails.rating }} out of 5 stars
            </p>





            <p id="about_product">{{ productDetails.about_product }}</p>

            <!-- Adjusted button size and added Buy Now button -->
            <button class="btn btn-primary btn-sm mr-4">Add to Cart</button>
            <button class="btn btn-success btn-sm ">Buy Now</button>
        </div>
    </div>
</div>