<!-- <div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="alert alert-warning amazon-alert" *ngIf='invalidLogin'>{{errorMessage}}</div>
        <div class="alert alert-success amazon-alert" *ngIf='loginSuccess'>{{successMessage}}</div> -->
<!-- Tabs Titles -->
<!-- <div class="toggle-buttons">
            <button class="toggle-btn" (click)="showForm('login')">Login</button>
            <button class="toggle-btn" (click)="showForm('register')">Register</button>
        </div> -->

<!-- Login Form -->
<!-- <div *ngIf="currentForm === 'login'">
            <h3 class="amazon-title">Login</h3>
            <form class="amazon-form">
                <input type="text" id="loginUsername" class="amazon-input fadeIn second" [(ngModel)]="username" name="username"
                    placeholder="username">
                <input type="password" id="loginPassword" class="amazon-input fadeIn third" [(ngModel)]="password" name="password"
                    placeholder="password">
                <input type="submit" (click)="handleLogin()" class="amazon-btn fadeIn fourth" value="Log In">
            </form>
        </div> -->

<!-- Registration Form -->
<!-- <div *ngIf="currentForm === 'register'">
            <h3 class="amazon-title">Register</h3>
            <form class="amazon-form">
                <input type="text" id="registerUsername" class="amazon-input fadeIn second" [(ngModel)]="registerUsername" name="registerUsername"
                    placeholder="username">
                <input type="email" id="registerEmail" class="amazon-input fadeIn third" [(ngModel)]="registerEmail" name="registerEmail"
                    placeholder="email">
                <input type="password" id="registerPassword" class="amazon-input fadeIn fourth" [(ngModel)]="registerPassword" name="registerPassword"
                    placeholder="password">
                <input type="submit" (click)="handleRegister()" class="amazon-btn fadeIn fourth" value="Register">
            </form>
        </div>

    </div>
</div> -->

<div class="container custom-container mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3 custom-card">
            <div class="alert-section mb-4">
                <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
                <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>
            </div>

            <div class="toggle-buttons mb-4 d-flex justify-content-center">
                <button class="btn custom-btn mx-2" (click)="showForm('login')">Login</button>
                <button class="btn custom-btn mx-2" (click)="showForm('register')">Register</button>
            </div>
            <!-- <div class="loader" *ngIf="isLoading">
                <app-loader></app-loader>
            </div> -->
            <!-- Login Form -->
            <div *ngIf="currentForm === 'login'" class="form-container">
                <h3 class="form-title mb-4">Login</h3>
                <form>
                    <div class="mb-3">
                        <input type="text" class="form-control custom-input" [(ngModel)]="username" name="username"
                            placeholder="Username">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control custom-input" [(ngModel)]="password" name="password"
                            placeholder="Password">
                    </div>
                    <button type="submit" (click)="handleLogin(username,password)" class="btn custom-btn">Log In</button>
                    <span class="loader" *ngIf="isLoading">
                        <app-loader></app-loader>
                    </span>
                </form>
            </div>

            <!-- Registration Form -->
            <div *ngIf="currentForm === 'register'" class="form-container">
                <h3 class="form-title mb-4">Register</h3>
                <form>
                    <div class="mb-3">
                        <input type="text" class="form-control custom-input" [(ngModel)]="registerUsername"
                            name="registerUsername" placeholder="Username">
                    </div>
                    <!-- <div class="mb-3">
                        <input type="email" class="form-control custom-input" [(ngModel)]="registerEmail"
                            name="registerEmail" placeholder="Email">
                    </div> -->
                    <div class="mb-3">
                        <input type="password" class="form-control custom-input" [(ngModel)]="registerPassword"
                            name="registerPassword" placeholder="Password">
                    </div>
                    <button type="submit" (click)="handleRegister(registerUsername,registerPassword)" class="btn custom-btn">Register</button>
                </form>
                <div *ngIf="isRegister">Registration successful!</div>

            </div>
        </div>
    </div>
</div>