<!-- <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div> -->
<!-- <form *ngIf="!isRegister">

    <h3>Login Here</h3>

    <label for="username">Username</label>
    <input type="text" name="userName" [(ngModel)]="username" placeholder="Email or Phone" id="username">

    <label for="password">Password</label>
    <input type="password" name="password" [(ngModel)]="password" placeholder="Password" id="password">

    <button style="color: black" (click)="handleLogin()">Log In</button>
    <div class="social">
        <div class="go" (click)="isRegister = !isRegister"> <i class="fab fa-google"></i> Register</div>

    </div>
</form>

<form *ngIf="isRegister">
    <h3>Register Here</h3>
    <label for="username">Username</label>
    <input type="text" name="userName" [(ngModel)]="username" placeholder="Email or Phone" id="username">

    <label for="password">Password</label>
    <input type="password" name="password" [(ngModel)]="password" placeholder="Password" id="password">

    <button style="color: black" (click)="onRegister()">Register</button>
    <div class="social">
        <div class="go" (click)="isRegister = !isRegister"> <i class="fab fa-google"></i> Login</div>

    </div>
</form> -->

<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="alert alert-warning amazon-alert" *ngIf='invalidLogin'>{{errorMessage}}</div>
        <div class="alert alert-success amazon-alert" *ngIf='loginSuccess'>{{successMessage}}</div>
        <!-- Tabs Titles -->
        <div class="toggle-buttons">
            <button class="toggle-btn" (click)="showForm('login')">Login</button>
            <button class="toggle-btn" (click)="showForm('register')">Register</button>
        </div>

        <!-- Login Form -->
        <div *ngIf="currentForm === 'login'">
            <h3 class="amazon-title">Login</h3>
            <form class="amazon-form">
                <input type="text" id="loginUsername" class="amazon-input fadeIn second" [(ngModel)]="username" name="username"
                    placeholder="username">
                <input type="password" id="loginPassword" class="amazon-input fadeIn third" [(ngModel)]="password" name="password"
                    placeholder="password">
                <input type="submit" (click)="handleLogin()" class="amazon-btn fadeIn fourth" value="Log In">
            </form>
        </div>

        <!-- Registration Form -->
        <div *ngIf="currentForm === 'register'">
            <h3 class="amazon-title">Register</h3>
            <form class="amazon-form">
                <input type="text" id="registerUsername" class="amazon-input fadeIn second" [(ngModel)]="registerUsername" name="registerUsername"
                    placeholder="username">
                <input type="email" id="registerEmail" class="amazon-input fadeIn third" [(ngModel)]="registerEmail" name="registerEmail"
                    placeholder="email">
                <input type="password" id="registerPassword" class="amazon-input fadeIn fourth" [(ngModel)]="registerPassword" name="registerPassword"
                    placeholder="password">
                <input type="submit" (click)="handleRegister()" class="amazon-btn fadeIn fourth" value="Register">
            </form>
        </div>

    </div>
</div>
