<div class="profile-section">
    <div class="profile-header">
      <img src="https://cdn3d.iconscout.com/3d/premium/thumb/verified-profile-9305221-7647858.png" alt="https://cdn3d.iconscout.com/3d/premium/thumb/verified-profile-9305221-7647858.png" class="profile-image">
      <h1>{{ user.username }}</h1>
    </div>
    <div class="profile-details">
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Bio:</strong> {{ user.bio }}</p>
      <button (click)="logout()"> Logout</button>
    </div>
  </div>
  
