<div class="container">
    <div class="row">
        <div class="col-md-4 product-col">
            <div class="profile-section">
                <div class="profile-header">
                    <i class="fa-solid fa-user"></i>
                    <h5>{{ user.username }}</h5>
                </div>
                <div class="profile-details">
                    <p><strong>Email:</strong> {{ user.email }}</p>
                    <p><strong>Bio:</strong> {{ user.bio || 'User has not provided a bio yet.' }}</p>
                </div>
                <div class="amazon-card-footer">
                    <button (click)="logout()" class="btn btn-primary amazon-card-btn">Logout</button>
                    
                        <button (click)="login()" class="btn btn-primary amazon-card-btn">Login</button>

                    
                    <button class="btn btn-secondary amazon-cart-btn" (click)="togglePastPurchases()">Past
                        Purchases</button>
                </div>
            </div>
            <div class="amazon-card" *ngIf="showPastPurchases">
                <h5 class="amazon-card-title">Past Purchases:</h5>

                <ul *ngIf="products && products.length > 0">
                    <li class="amazon-card-description" *ngFor="let product of products">
                        <img [src]="product.img_link" alt="{{ product.productName }}" style="width: 50px; height: 50px;">
                        <!-- Adjust width and height accordingly -->
                        {{ product.product_name }}
                    </li>
                </ul>
                <ul *ngIf="!products || products.length === 0">
                    <li class="amazon-card-description">
                        No Past purchases
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>